#### Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [2]:
li = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
sorted(li, key = lambda x: x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

#### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(map(lambda y : y**2, l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Q3. Write a python program to convert the given list of ntegers into a tuple of strings. Use map and lambda functions.<nr>


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]<br>

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list(map(lambda x : str(x), l2))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#### Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [32]:
l3 =[]
for i in range (1, 26):
    l3.append(i)

In [33]:
l3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [34]:
from functools import reduce

In [35]:
reduce(lambda x, y : x*y , l3)

15511210043330985984000000

#### Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.<br>

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [41]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [48]:
list(filter(lambda x : x%2==0 and x%3==0, l4))

[6, 60, 90, 120]

#### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. <br>


['python', 'php', 'aba', 'radar', 'level']

In [49]:
l5 = ['python', 'php', 'aba', 'radar', 'level']

In [51]:
list(filter(lambda x : x == x[::-1], l5))

['php', 'aba', 'radar', 'level']

In [52]:
list(filter(lambda x : x == reversed(x), l5))

[]