In [55]:
#Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [56]:
a = df.iloc[1:2]
a

        course_name  duration
1  Machine Learning         3

In [57]:
b = df.loc[1:1]
b

        course_name  duration
1  Machine Learning         3

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, `loc` and `iloc` are two methods used to access and modify data in a DataFrame, but they have different ways of selecting data.

1. **`loc` (Label-based indexing):**
   - The `loc` method is primarily label-based, which means you use labels (row and column names) to access data.
   - It is inclusive on both ends when slicing, meaning that the end value is included in the selection.
   - The syntax for using `loc` is `df.loc[row_label, column_label]` or `df.loc[start_row:end_row, start_col:end_col]` for slicing.

   Example:
   ```python
   import pandas as pd

   data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
   df = pd.DataFrame(data, index=['x', 'y', 'z'])

   print(df.loc['x', 'A'])  # Access a specific element
   print(df.loc['x':'y', 'A':'B'])  # Access a slice of the DataFrame
   ```

2. **`iloc` (Integer-location based indexing):**
   - The `iloc` method is integer-location based, which means you use integer indices to access data.
   - It is exclusive on the end when slicing, meaning that the end value is not included in the selection.
   - The syntax for using `iloc` is similar to that of `loc`, but using integer indices: `df.iloc[row_index, col_index]` or `df.iloc[start_row:end_row, start_col:end_col]` for slicing.

   Example:
   ```python
   import pandas as pd

   data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
   df = pd.DataFrame(data)

   print(df.iloc[0, 1])  # Access a specific element
   print(df.iloc[0:2, 0:2])  # Access a slice of the DataFrame
   ```

In summary, the key difference is in the way they handle the selection of data: `loc` uses labels, and `iloc` uses integer indices. Additionally, `loc` is inclusive on both ends when slicing, while `iloc` is exclusive on the end.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].<br> Did you observe any difference in both the outputs? If so then explain it.

In [58]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [59]:
print(f'Output of  new_df.loc[2] is:\n{new_df.loc[2]}','\n','*'*20,f'\nOutput of  new_df.iloc[2] is:\n{new_df.iloc[2]}')

Output of  new_df.loc[2] is:
course_name    Big Data
duration              6
Name: 2, dtype: object
 ********************
Output of  new_df.iloc[2] is:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

##### Observation:<br>
- **1.** new_df.loc[2] returns third row with the label [2] in the `new_df` DataFrame. In this case [2]  refers to the index label, not the positional index. The output shows the row with the label [2] as `Big Data ` and `6`.


- **2.** new_df.iloc[2] returns the row (positional index [2]) in the `new_df` DataFrame. In this case [2]  refers to the positional index. The output shows the row with positional index [2] as `Machine Learning ` and `3`.

Therefore, there is a difference between the outputs of `new_df.loc[2]` and `new_df.iloc[2]`. The `loc` uses the label-based indexing, while `iloc` uses position-based indexing.

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:<br>(i) mean of each and every column present in the dataframe.<br>(ii) standard deviation of column, ‘column_2’

In [60]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.451407  0.659842  0.645826  0.258516  0.538410  0.199575
2  0.020993  0.150224  0.492174  0.064639  0.988276  0.609358
3  0.964096  0.032580  0.895020  0.774412  0.473321  0.413320
4  0.267969  0.593485  0.161118  0.955629  0.074890  0.069758
5  0.154032  0.779476  0.797477  0.409648  0.006573  0.830866
6  0.361336  0.318937  0.091566  0.338811  0.777051  0.719157

#### Mean Of Each Column

In [61]:
df1.mean()

column_1    0.369972
column_2    0.422424
column_3    0.513864
column_4    0.466942
column_5    0.476420
column_6    0.473672
dtype: float64

##### Standard Deviation of column_2

In [62]:
print('Standard Deviation of Column_2 is:',df1['column_2'].std())

Standard Deviation of Column_2 is: 0.29996540402232313

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.<br> If you are getting errors in executing it then explain why.<br>[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [63]:
df1.loc[2, 'column_2'] = 'string'
df1

C:\Users\shiva\AppData\Local\Temp\ipykernel_8540\3200753896.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'string' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string'

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.451407  0.659842  0.645826  0.258516  0.538410  0.199575
2  0.020993    string  0.492174  0.064639  0.988276  0.609358
3  0.964096   0.03258  0.895020  0.774412  0.473321  0.413320
4  0.267969  0.593485  0.161118  0.955629  0.074890  0.069758
5  0.154032  0.779476  0.797477  0.409648  0.006573  0.830866
6  0.361336  0.318937  0.091566  0.338811  0.777051  0.719157

In [64]:
df1.at[2, 'column_2'] = 'string_value'
df1

   column_1      column_2  column_3  column_4  column_5  column_6
1  0.451407      0.659842  0.645826  0.258516  0.538410  0.199575
2  0.020993  string_value  0.492174  0.064639  0.988276  0.609358
3  0.964096       0.03258  0.895020  0.774412  0.473321  0.413320
4  0.267969      0.593485  0.161118  0.955629  0.074890  0.069758
5  0.154032      0.779476  0.797477  0.409648  0.006573  0.830866
6  0.361336      0.318937  0.091566  0.338811  0.777051  0.719157

In [65]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#####  `In this case, attempting to calculate the mean of 'column_2' after replacing a numerical value with a string due to which result is an error. Pandas tries to maintain a consistent data type within a column, and mixing numeric and string data may not be allowed for certain operations like calculating the mean.<br> We encounter an error such as "TypeError: can only concatenate str (not "float") to str." This error occurs because we're trying to calculate the mean of a column that now contains a mix of numeric and string values.`

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

##### **ANS**:<br>
In pandas, window functions are a category of functions that operate on a set of data points defined by a "window" or "kernel" that moves over the data. These functions are particularly useful for tasks such as calculating rolling statistics, aggregations, and other operations over a specified window of data.

The `rolling()` function in pandas is commonly used to create a rolling view of a DataFrame or Series, and it enables the application of window functions. The basic syntax for creating a rolling window is as follows:

```python
rolling_window = df['column'].rolling(window=window_size)
```

Here, `df` is your DataFrame, 'column' is the column you want to apply the window function to, and `window_size` is the size of the window.

Common types of window functions in pandas include:

1. **Aggregations:**
   - Calculate various aggregate measures over a rolling window, such as mean, sum, median, min, max, etc.
   ```python
   df['column'].rolling(window=window_size).mean()
   ```

2. **Expanding:**
   - Similar to rolling, but the window size expands with each new data point.
   ```python
   df['column'].expanding().mean()
   ```

3. **Exponential Moving Average (EMA):**
   - Computes the exponentially weighted moving average, giving more weight to recent observations.
   ```python
   df['column'].ewm(span=window_size).mean()
   ```

4. **Ranking:**
   - Compute the rank of elements within a rolling window.
   ```python
   df['column'].rolling(window=window_size).rank()
   ```

5. **Covariance and Correlation:**
   - Calculate covariance or correlation between two columns within a rolling window.
   ```python
   df['column1'].rolling(window=window_size).cov(df['column2'])
   df['column1'].rolling(window=window_size).corr(df['column2'])
   ```

6. **Apply Custom Functions:**
   - Apply a custom function to the data within a rolling window using the `apply` method.
   ```python
   df['column'].rolling(window=window_size).apply(custom_function)
   ```

These are just a few examples, and the pandas documentation provides more details and options for window functions. Window functions are powerful tools for time-series data analysis and are commonly used in finance, signal processing, and other fields where analyzing data over time is essential.

#### Q7. Write a code to print only the current month and year at the time of answering this question.<br>[Hint: Use pandas.datetime function]

In [ ]:
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Convert to pandas datetime
pd_datetime = pd.to_datetime(current_datetime)

# Extract and print the current month and year
current_month = pd_datetime.month
current_year = pd_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 12
Current Year: 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
def calculate_time_difference(date1, date2):
    # Convert input strings to pandas datetime objects
    datetime1 = pd.to_datetime(date1)
    datetime2 = pd.to_datetime(date2)

    # Calculate the time difference
    time_difference = datetime2 - datetime1

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

# Get user input for two dates
date_input1 = input("Enter the first date (YYYY-MM-DD): ")
date_input2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
try:
    days_diff, hours_diff, minutes_diff = calculate_time_difference(date_input1, date_input2)

    # Display the result
    print(f"\nTime Difference: {days_diff} days, {hours_diff} hours, {minutes_diff} minutes")

except ValueError as e:
    print(f"\nError: {e}. Please enter valid date formats (YYYY-MM-DD).")

Time Difference: 730 days, 0 hours, 0 minutes

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, then display the sorted data.

In [ ]:
# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert: ")

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name])

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(',')

# Set the category order for the column
df[column_name].cat.set_categories(category_order, ordered=True, inplace=True)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=[column_name])

# Display the sorted data
print(df_sorted)

In [ ]:
# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(',')

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories= category_order, ordered= True)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=[column_name])

# Display the sorted data
print(df_sorted)

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert: ")

# Convert the specified column to categorical data type
df[column_name] = df[column_name].astype('category')

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(',')

# Set the category order for the column
df[column_name] = df[column_name].cat.set_categories(category_order, ordered=True)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=[column_name])

# Display the sorted data
print(df_sorted)

In [ ]:
def convert_to_categorical(df, column_name, category_order):
    # Convert the specified column to a categorical data type
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

def main():
    # Prompt the user for the file path
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}. Please provide a valid file path.")
        return
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
        return
    except pd.errors.ParserError:
        print("Error: Unable to parse the CSV file. Please check the file format.")
        return

    # Display the original DataFrame
    print("\nOriginal DataFrame:")
    print(df)

    # Prompt the user for the column name and category order
    column_name = input("\nEnter the column name to convert to categorical: ")
    category_order_str = input("Enter the category order (comma-separated): ")

    # Convert the category order string to a list
    category_order = [cat.strip() for cat in category_order_str.split(',')]

    # Convert the specified column to a categorical data type
    convert_to_categorical(df, column_name, category_order)

    # Display the sorted DataFrame
    sorted_df = df.sort_values(by=column_name)
    print(f"\nDataFrame sorted by {column_name}:")
    print(sorted_df)

if __name__ == "__main__":
    main()

Error: File not found at . Please provide a valid file path.

In [ ]:
def convert_to_categorical_2(df, column_name, category_order):
    # Convert the specified column to a categorical data type
    df[column_name] = df[column_name].astype(pd.CategoricalDtype(categories=category_order, ordered=True))

def main():
    # Prompt the user for the file path
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}. Please provide a valid file path.")
        return
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
        return
    except pd.errors.ParserError:
        print("Error: Unable to parse the CSV file. Please check the file format.")
        return

    # Display the original DataFrame
    print("\nOriginal DataFrame:")
    print(df)

    # Prompt the user for the column name and category order
    column_name = input("\nEnter the column name to convert to categorical: ")
    category_order_str = input("Enter the category order (comma-separated): ")

    # Convert the category order string to a list
    category_order = [cat.strip() for cat in category_order_str.split(',')]

    # Convert the specified column to a categorical data type
    convert_to_categorical(df, column_name, category_order)

    # Display the sorted DataFrame
    sorted_df = df.sort_values(by=column_name)
    print(f"\nDataFrame sorted by {column_name}:")
    print(sorted_df)

if __name__ == "__main__":
    main()

#### Q10. Write a Pyhton program that reads a CSV file containg sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product over time.The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Date' and 'Product', and calculate the sum of 'Sales'
grouped_df = df.groupby(['Date', 'Product'])['Sales'].sum().unstack()

# Plot the stacked bar chart
grouped_df.plot(kind='bar', stacked=True)

# Customize the chart
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Products Over Time')

# Display the chart
plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a python program that reads the CSV file, calculates the mean, median, and modes of the test scores, and displays the result in a table.<br> The PRogram should do the following:<br>
- Prompt the user to enter the file path of the CSV file containing the student data.
- Read the CSV file into a Pandas Dataframe.
- Calculate the mean, median, and mode of the test scores using Pandas tools.
-Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:

- Student ID: The ID of Student.
- Test Score: The score of the student's test.<br>

Example usage of the program:<br>
Enter the file path to the CSV file containing the student data: stdent_data.csv<br>

+------------+--------+<br>
| Statistic | Value |<br>
+------------+--------+<br>
| Mean       | 79.6   |<br>
| Median     | 82     |<br>
| Mode       | 85, 90 |<br>
+------------+--------+<br>

Assume that the CSV file student_data.csv contains the following data:<br>
Student ID,Test Score<br>
1,85<br>
2,90<br>
3,80<br>
4,75<br>
5,85<br>
6,82<br>
7,78<br>
8,85<br>
9,90<br>
10,85<br>

In [ ]:
# Prompt the user to enter the file path
file_path = input("Enter the file path to the CSV file containing the student data: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)


# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
modes = df['Test Score'].mode()

# Create a DataFrame to display the statistics
statistics = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, ', '.join(map(str, mode))]
})

# Display the statistics table
print(statistics.to_string(index=False))

FileNotFoundError: [Errno 2] No such file or directory: ''